<nav>
  <% if(currentUser) { %>
  <ul class="nav">
    <li><a href="/crud">Home</a></li>
		<li><a href="/crud/new">New</a></li>
    <li><a href="/test">Test</a></li>
    <li></li><form action="/sessions?_method=DELETE" method="POST">
      <input id="logOut" type="submit" value="Log Out" />
    </form></li>
  </ul>
  <% } else { %>
		<ul class="nav">
    <li><a href="/crud">Home</a></li>
    <li style="float: right"><a href="/sessions/new">Login</a></li>
		<li style="float: right"><a href="/users/new">Register</a></li>
  </ul>
  <% } %>
</nav>
