<style>
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* position: fixed;
    top: 0;
    width: 100%; */
  }

  li {
    float: left;
  }

	#logOut {
		float: right;
		display: block;
    color: white;
		margin: 0;
    padding: 14px 16px;
    background-color: #111;
		border: none;
		font-family : inherit;
		font-size: 1em;
	}

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }
</style>

<nav>
  <% if(currentUser) { %>
  <ul>
    <li><a href="/">Home</a></li>
		<li><a href="/new">New</a></li>
    <li><a href="/test">Test</a></li>
    <li></li><form action="/sessions?_method=DELETE" method="POST">
      <input id="logOut" type="submit" value="Log Out" />
    </form></li>
  </ul>
  <% } else { %>
  <ul>
    <li><a href="/">Home</a></li>
    <li style="float: right"><a href="/sessions/new">Login</a></li>
		<li style="float: right"><a href="/users/new">Register</a></li>
  </ul>
  <% } %>
</nav>
