<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="form-container">
      <div class="form-image"></div>
      <div class="form-info">
        <h1>WELCOME</h1>
        <fieldset class="form-inputs">
          <p>Sit down and stay awhile!</p>
        </fieldset>
      </div>
    </div>
  </body>
</html>
