<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>
    <h1>New</h1>
    <form action="/" method="POST">
      Image: <input type="text" name="image" /><br />
      Title: <input type="text" name="title" /><br />
      Body: <input type="text" name="body" /><br />
      <input type="submit" name="" value="Add Post" />
    </form>
  </body>
</html>
