<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>
    <h1>New</h1>
    <form action="/crud" method="POST">
      <input placeholder="Image" type="text" name="image" /><br />
      <input placeholder="Title" type="text" name="title" /><br />
      <input placeholder="Body" type="text" name="body" /><br />
      <input type="submit" name="" value="Add Post" />
    </form>
  </body>
</html>
