<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>
    <div class="form-container">
      <div class="form-image"></div>
      <div class="form-info">
        <h1>LOGIN</h1>
        <form action="/sessions" method="POST">
          <fieldset class="form-inputs">
            <input
              class="inp"
              placeholder="Email"
              type="email"
              name="email"
              id="email"
            />
            <input
              class="inp"
              placeholder="Password"
              type="password"
              name="password"
              id="password"
            />
          </fieldset>
          <input class="submit" type="submit" value="Login" />
        </form>
      </div>
    </div>
  </body>
</html>
