/* NAV BAR CSS */
.nav {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-color: #777;
  /* position: fixed;
  top: 0;
  width: 100%; */
  border-radius: 10px;
  box-shadow: 1px 1px 10px #ddd, -1px -1px 10px #ddd, 1px -1px 10px #ddd,
    -1px 1px 10px #ddd;
  width: 600px;
  /* min-width: 600px; */
}
.nav > li {
  float: left;
}
.nav > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav > li a:hover {
  background-color: #555;
}
#logOut {
  float: right;
  display: block;
  color: white;
  margin: 0;
  padding: 14px 16px;
  background-color: #777;
  border: none;
  font-family: inherit;
  font-size: 1em;
}
#logOut:hover {
  background-color: #555;
}

/* GALLERY CSS */
.flex-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
  row-gap: 5px;
  column-gap: 5px;
  padding: 5px;
  /* background-color: #333; */
  /* display: grid;
  grid-template-columns: repeat (4, max(200px, 200px));
  justify-content: center;
  grid-gap: 10px;
  grid-auto-flow: dense; */
}
.flex-item {
  position: relative;
  text-align: center;
}
/* .flex-item:hover {
  border-radius: 30px;
  opacity: 0.5;
} */
.flex-item-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.gallery-image {
  position: relative;
  vertical-align: top;
  height: 200px;
  width: 200px;
  border-radius: 5px;
}
.gallery-image:hover {
  border-radius: 30px;
  opacity: 0.5;
  filter: invert(100%);
}

/* NEW / EDIT POST CSS */
.form-container {
  max-width: 600px;
  min-height: 550px;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #ddd, -1px -1px 10px #ddd, 1px -1px 10px #ddd,
    -1px 1px 10px #ddd;
}
.form-image {
  width: 50%;
  background-image: url("https://images.unsplash.com/photo-1620127682229-33388276e540?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VtbWVyJTIwYmVhY2h8ZW58MHx8MHx8&w=1000&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}
.edit-image {
  width: 50%;
  background-image: url("https://images.unsplash.com/photo-1620127682229-33388276e540?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VtbWVyJTIwYmVhY2h8ZW58MHx8MHx8&w=1000&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}
.form-info {
  text-align: center;
  width: 50%;
  background: #f9f9f9;
  border-radius: 0 10px 10px 0;
  padding: 15px;
  box-sizing: border-box;
  overflow: auto;
}
fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 0;
}
.inp {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  /* border: 1px solid var(--light-green); */
  border-radius: 5px;
}
.desc-new {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  height: 180px;
  border: 2px solid #555;
}
.desc-edit {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  height: 135px;
  border: 2px solid #555;
}
.submit {
  width: 60%;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.submit:hover {
  background-color: #999;
  color: white;
}

/* SHOW CSS */
.show-container {
  max-width: 600px;
  min-height: 550px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #ddd, -1px -1px 10px #ddd, 1px -1px 10px #ddd,
    -1px 1px 10px #ddd;
}
.show-image {
  height: 350px;
  width: 350px;
}
