.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

.nav > li {
  float: left;
}

.nav > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav > li a:hover {
  background-color: #111;
}

#logOut {
  float: right;
  display: block;
  color: white;
  margin: 0;
  padding: 14px 16px;
  background-color: #111;
  border: none;
  font-family: inherit;
  font-size: 1em;
}

h1 {
  text-align: center;
}

.flex-container {
  /* display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  justify-content: center;
  column-gap: 5px;
  padding: 5px; */
  /* background-color: #333; */
  display: grid;
  grid-template-columns: repeat(4, max(300px, 300px));
  justify-content: center;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.flex-item {
  position: relative;
  text-align: center;
}

/* .flex-item:hover {
  border-radius: 30px;
  opacity: 0.5;
} */
.flex-item-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}

.gallery-image {
  position: relative;
  vertical-align: top;
  height: 300px;
  width: 300px;
}

.gallery-image:hover {
  border-radius: 30px;
  opacity: 0.5;
}

.show-image {
  height: 500px;
  width: 500px;
}
